<div class="container">
    <div class="row justify-between">
        <div class="col col-5-md">
            <h3>Contact</h3>
            <p>I'm always interested in working on new projects. Hire me if you would like to work together.</p>
            <p>
                <a href="https://github.com/tenderOwl/" class="mr-2">
                    <img src="/images/GitHub-Mark-64px.png" alt="TenderOwl GitHub Profile" height="32" width="32">
                </a>
                &nbsp;
                <a href="https://dev.to/meamka">
                    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Andrey M's DEV Profile" height="32" width="32">
                </a>
            </p>
        </div><!-- /Contact -->

        <div class="col col-5-md">
            <h3>Subscribe</h3>

            <p>Subscribe to our newsletter to stay updated on projects and whatever else we're working on.</p>
            <form name="contact" method="POST" data-netlify="true">
                <p class="grouped">
                    <input type="text" name="subscribe_email" id="subscribe_email"
                        placeholder="Enter your email address">
                    <button type="submit">Subscribe</button>
                </p>
            </form>
        </div><!-- /Subscribe -->
    </div>


    <div class="row">
        <div class="col">
            <p>&copy; {{ now.Format "2006"}}. All Rights Reserved.</p>
        </div>
    </div>
</div>